* {
    border: none;
    border-radius: 0;
    font-family: Nihon Rustica Medium;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(33, 33, 33, 0.7);
}

tooltip {
    background: #1e1e2e;
    border-radius: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    border-radius: 0px;
    color: #D9E0EE;
}

#workspaces button.active {
    color: #e91e63;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 0px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #fae3b0;
    border-radius: 0px;
}

#workspaces button:hover {
    color: #c9cbff;
    border-radius: 0px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: #191724;
    background: rgba(25, 23, 36, 0.0);
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    border: 0px solid #181825;
}

#tray {
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 15px
}


#custom-caffeine {
    color: #89dceb;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    margin-right: 5px;
    border-radius: 0 10px 10px 0;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
