/* colors */

* {
  al:      #00000000;
  bg:      #111217CC;
  se:      #15151500;
  fg:      #f5f5f5CC;
  ac:      #42A5F5CC;
  red:     #EC7875CC;
  green:   #61C766CC;
  yellow:  #FDD835CC;
  blue:    #42A5F5CC;
  purple:  #BA68C8CC;
  cyan:    #4DD0E1CC;
}
