:root {
    --notification-icon-size: 80px;
}

* {
    all: unset;
    font-family: "IBM Plex Sans";
    font-size: 12px;
}

notificationwindow {
    background: transparent;
}

.control-center {
    background-color: rgba(21, 22, 26, 0.7);
    border-radius: 10px;
    padding: 8px;
}

.notification-row {
    margin: 2px 15px 2px 0;
}

.notification-background .notification {
    background-color: rgba(21, 22, 26, 0.7);
    border-radius: 10px;
    border: 1px solid transparent;
    color: #CDD6F4;
    padding: 8px;
}

.notification-background .notification.critical {
    background-color: rgba(255, 0, 50, 0.5);
    color: #ffffff;
}

.notification-default-action,
.notification-action {
    background-color: transparent;
    color: #eae2e0;
    border-radius: 10px;
}

.notification-default-action:hover,
.notification-action:hover {
    background-color: rgba(0, 20, 20, 0.2);
    color: #ffeedd;
}

.notification-content {
    padding: 8px;
}

.notification-content .image {
    -gtk-icon-size: var(--notification-icon-size);
    min-width: var(--notification-icon-size);
    min-height: var(--notification-icon-size);
    border-radius: 6px;
    margin: 4px;
}

.summary {
    color: #CDD6F4;
    font-weight: bold;
}

.body {
    color: #CDD6F4;
}

.app-name {
    color: #eae2e0;
    font-size: 11px;
}

.close-button {
    background-color: transparent;
    color: #eae2e0;
    border-radius: 5px;
    min-width: 24px;
    min-height: 24px;
    margin-top: 8px;
    margin-right: 8px;
}

.close-button:hover {
    background-color: rgba(255, 0, 50, 0.5);
    color: #ffffff;
}

.widget-buttons-grid {
    padding: 2px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffeedd;
    border-radius: 8px;
    min-height: 60px;
    font-size: 12px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background-color: rgba(0, 20, 20, 0.2);
    color: #ffeedd;
}
